<nav class="navbar navbar-expand-lg navbar-light text-light bg-darkblue">
    <div class="container-fluid">
        <div class="container">
            <span class="navbar-brand text-light text-logo">
                <span class="font-avocado">QUIZ</span>
            </span>
        </div>
        <div class="btn text-light font-avocado pt-2">
            <span class="timer" id="timer">{{time}}</span><br>
            <span>Secondes</span>
        </div>

    </div>
</nav>

<div class="question-container">
    <!-- 
    <div class="scroll-balloon">
        <span>teste</span>
    </div> -->

    <div  class="container" style="z-index: 999;">
        <div class="row">
            <div class="col-lg-2">
                <div class="img-animate">
                    <!-- <div id="clock" style="display: none;" class="img-gif-animate"></div> -->
                </div>
            </div>

                <form #f="ngForm" class="col-lg-8" >

                <div class="d-flex justify-content-end p-3">
                    <span class="badge p-2" >
                        <span class="p-2 m-2 font-avocado h6"> {{currentQuiz+1}} / {{question.length}}</span>
                    </span>
                </div>

                <mat-card class="card">
                    <mat-card-header class="card-header text-light p-4" >
                        <mat-card-title>{{question[currentQuiz].description}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <!-- <mat-radio-group [formControl]="control" aria-labelledby="radio-group-label" class="list-group list-group-flush" [(ngModel)]="answer">
                            <mat-radio-button *ngFor="let option of question[currentQuiz].options" class="list-group-item" [ngClass]="{
                                'bg-hover-success': question[currentQuiz]!.dificulte === 'facil',
                                'bg-hover-warning': question[currentQuiz]!.dificulte === 'media',
                                'bg-hover-danger': question[currentQuiz]!.dificulte  === 'dificil'
                           }" value="{{option.id}}">
                              
                            </mat-radio-button>
                        </mat-radio-group>
                        <mat-checkbox  >


                        </mat-checkbox> -->


                        <div class="form-check p-4" *ngFor="let option of question[currentQuiz].options"  >
                            <input class="form-check-input" type="checkbox" ngModel name="{{option.id}}" >
                            <label class="form-check-label" for="flexCheckIndeterminate" >
                                {{option.description}}
                            </label>
                          </div>
                        
                    </mat-card-content>
                </mat-card>

                <div class="d-flex justify-content-end p-3">
                    <button type="button" class="btn btn-lg btn-disabled font-avocado" (click)="onAnswer(f)">
                        suivant
                    </button>
                </div>
            </form>

            <div class="col-lg-2">
            </div>
        </div>
    </div>
</div>