<app-navbar></app-navbar>
<div class="content">
<!-- 
    <img src="assets/img/cours/page{{ currentPage}}.jpg">
    <button  class="btn background-color-theme "> Page suivante</button> -->

    <div class="card" >
        <img class="card-img-top custom_size_img" src="assets/img/cours/page{{ currentPage}}.jpg" >
        <div class="card-body">
        
        <button  class="offset-10 btn background-color-theme " *ngIf="currentPage !== courseSize" (click)="nextPage()" > Page suivante</button>
        <button  class="offset-10 btn background-color-theme " *ngIf="currentPage === courseSize" (click)="startQuiz()"> Commencer le test</button>

        </div>
      </div>

</div>